In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dengue-dataset.csv' ,sep=',' , encoding='iso-8859-1')

In [3]:
df.head()

,data,casos-confirmados,chuva,temperatura-media,temperatura-mininima,temperatura-maxima
0,1998-01-01,237,179.2,25.7,20.2,28.1
1,1998-02-01,331,226.3,25.1,20.0,28.0
2,1998-03-01,562,149.1,24.8,22.4,27.2
3,1998-04-01,187,46.4,22.7,18.1,26.0
4,1998-05-01,32,88.3,19.2,15.7,22.9

In [4]:
df.tail()

,data,casos-confirmados,chuva,temperatura-media,temperatura-mininima,temperatura-maxima
199,2014-08-01,55,12.2,20.6,13.1,24.7
200,2014-09-01,40,69.2,23.0,18.6,26.8
201,2014-10-01,40,15.6,24.7,17.2,30.0
202,2014-11-01,57,154.8,25.0,22.1,28.3
203,2014-12-01,37,232.8,24.9,21.3,27.8

In [5]:
df.shape

(204, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   data                  204 non-null    object
 1   casos-confirmados     204 non-null    int64
 2   chuva                 196 non-null    float64
 3   temperatura-media     204 non-null    float64
 4   temperatura-mininima  204 non-null    float64
 5   temperatura-maxima    204 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 9.7+ KB

In [7]:
df.isnull().sum()

data                    0
casos-confirmados       0
chuva                   8
temperatura-media       0
temperatura-mininima    0
temperatura-maxima      0
dtype: int64